pipeline/pl_orchestrat_if_condition.json
{
	"name": "pl_orchestrat_if_condition",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "csvInpatientcost",
						"type": "DatasetReference",
						"parameters": {
							"filename": "Pharmacy Sales Data.csv"
						}
					},
					"fieldList": [
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(endswith(activity('Get Metadata').output.itemName,'csv' ))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "False",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Med_name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "MedicationName",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Med_class",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "MedicationClass",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Quantity Sold",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "QuantitySold",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Price",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Price",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 4,
												"precision": 10
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "csvInpatientcost",
									"type": "DatasetReference",
									"parameters": {
										"filename": "Pharmacy Sales Data.csv"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSQLTables",
									"type": "DatasetReference",
									"parameters": {
										"tableName": "Pharmacy_Sales"
									}
								}
							]
						}
					],
					"ifTrueActivities": [
						{
							"name": "Load CSV",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Med_name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "MedicationName",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Med_class",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "MedicationClass",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Quantity Sold",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "QuantitySold",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Price",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Price",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 4,
												"precision": 10
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "csvInpatientcost",
									"type": "DatasetReference",
									"parameters": {
										"filename": "Pharmacy Sales Data.csv"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSQLTables",
									"type": "DatasetReference",
									"parameters": {
										"tableName": "Pharmacy_Sales"
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}